[Unit]
Description=Prometheus Junos Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
User={{ junos_exporter_user }}
Group={{ 'nogroup' if ansible_os_family == 'Debian' else 'nobody' }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/junos_exporter \
  --web.listen-address={{ junos_exporter_web_listen_address }} \
  --config.file=/etc/junos_exporter/config.yml

KillMode=process

SyslogIdentifier=junos_exporter
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
